@using Serious.Abbot.Repositories
@model CustomerModel
@inject CustomerRepository CustomerRepository
@{
    var allSegments = await ViewContext.HttpContext.GetOrCreateAsync(
        "AllSegments",
        async () => await CustomerRepository.GetAllCustomerSegmentsAsync(Model.Organization));
}
<form method="post" class="inline" asp-all-route-data="@ViewContext.GetCurrentRouteValues()">
    <details class="dropdown inline">
        <summary>
            <div class="text-xs relative -top-px font-medium text-indigo-500 cursor-pointer hover:text-indigo-700">
                Manage
            </div>
        </summary>

        <div role="menu" class="dropdown-menu rounded border border-gray-300 bg-white absolute drop-shadow-md text-sm w-fit">
            <div class="flex flex-col shrink-0">
                <header class="p-2 font-medium whitespace-nowrap border-b">
                    Set Segments
                </header>
            </div>
            <div class="max-h-56 overflow-y-scroll pr-8">
                @foreach (var segment in allSegments) {
                    <label class="flex items-center gap-x-2 px-3 py-2">
                        <input type="checkbox"
                               name="SegmentIds"
                               value="@segment.Id"
                               checked="@Model.Segments.Any(s => s.Id == segment.Id)" />
                        <span class="font-medium whitespace-nowrap">@segment.Name</span>
                    </label>
                }
            </div>

            <div class="border-t">
                <label class="flex items-center gap-x-2 px-3 py-2" data-controller="toggle">
                    <input type="checkbox"
                           asp-for="CreateNewSegment"
                           value="@true"
                           data-toggle-target="source" />
                    <div data-action="click->toggle#enable">
                        <input type="text"
                               asp-for="SegmentName"
                               class="form-input w-96"
                               placeholder="New Segment Name"
                               data-toggle-target="dependent"
                               disabled="disabled" />
                        <span asp-validation-for="SegmentName"></span>
                    </div>
                </label>
            </div>

            <div class="p-2 pr-4 font-medium whitespace-nowrap border-t">
                <input type="hidden" name="customerId" value="@Model.Id" />
                <button class="btn btn-primary" asp-page-handler="EditSegments" type="submit">Save segments</button>
            </div>
        </div>
    </details>
</form>