@model AllPageModel

@if (Model.FilterApplied && Model.Patterns.Any() ) {
    <div class="mt-4 px-4 text-gray-500 text-sm">
        Showing patterns that would be called with the test message:
        <span class="font-bold text-black">@Model.Input.Text</span>
        <a asp-page="All" class="text-blue-500 hover:text-gray-700 ml-1">Clear filter</a>
    </div>
}

<div class="mb-4 mt-2 bg-white rounded-lg border border-gray-200 divide-y">
    @foreach (var pattern in Model.Patterns) {
        <div class="p-4">
            <div class="flex items-center">
                <div>
                    <h2 class="mb-1">
                        <a asp-page="Edit"
                           class="text-black hover:text-blue-500"
                           asp-route-skill="@pattern.Skill.Name"
                           asp-route-slug="@pattern.Slug"
                           asp-route-source="all"
                           aria-label="Pattern name: @pattern.Name">
                            @pattern.Name
                        </a>

                        <partial name="_PatternMetadata" model="@pattern" />
                    </h2>

                    <div class="flex items-center">
                        @if (pattern.PatternType != PatternType.None)
                        {
                            <span class="mr-2 font-mono text-xs text-gray-500 uppercase">
                                @pattern.PatternType
                            </span>
                        }

                        <p class="bg-gray-100 text-sm max-w-screen-sm px-2 py-1 font-mono rounded-lg inline-block text-gray-500"
                           aria-label="@pattern.Name pattern: @pattern.Pattern">
                            @pattern.Pattern
                        </p>
                    </div>
                </div>

                <div class="ml-auto pl-4">
                    <a asp-page="/Skills/Edit"
                       aria-label="Associated skill: @pattern.Skill.Name"
                       class="ml-auto text-blue-500 hover:text-gray-500 px-2 py-1 bg-gray-100 rounded-lg"
                       asp-route-skill="@pattern.Skill.Name">
                        @pattern.Skill.Name
                    </a>
                </div>
            </div>
        </div>
    }

    @if (!Model.Patterns.Any()) {
        <div class="rounded overflow-hidden mt-2">
            <blankslate>
                @if (Model.FilterApplied) {
                    <p>
                        No patterns would match the message:
                        <span class="font-bold text-black">@Model.Input.Text</span>
                    </p>
                    <p>
                        <a asp-page="All" class="text-blue-500 hover:text-gray-700">Clear filter</a>
                    </p>
                } else {
                    <strong>Your organization does not have any patterns.</strong>
                    <p>
                        To create a pattern, edit a skill, click "Patterns" above the code editor, and and click
                        "Create Pattern."
                    </p>
                }
            </blankslate>
        </div>
    }
</div>
